{% load static %}

Header from : campusconnect/resumeweb/templates/resumeweb/email/base_plain.html
Header from : campusconnect/resumeweb/templates/resumeweb/email/base_plain.html
Header from : campusconnect/resumeweb/templates/resumeweb/email/base_plain.html

{% comment "==================== CONTENT START ====================" %}{% endcomment %}
{% block content %}
{% endblock %}
{% comment "==================== CONTENT END ======================" %}{% endcomment %}

Footer from : campusconnect/resumeweb/templates/resumeweb/email/base_plain.html
Footer from : campusconnect/resumeweb/templates/resumeweb/email/base_plain.html
Footer from : campusconnect/resumeweb/templates/resumeweb/email/base_plain.html

{% comment "Optional note" %}
{% endcomment %}
