<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
  <tr>
    <td valign="middle" class="hero hero-2 bg_white" style="padding: 2em 0;">
      <table>
        <tr>
          <td>
            <div class="text" style="padding: 0 2em; text-align: left;">
              
              <h3 class="heading">What happens next</h3>
              
              <p style="color:#000">
                You should receive a followup email from us
                about the next step or with a confirmation message
              </p>
              
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


