<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
  <tr>
    <td valign="middle" class="hero hero-2 bg_white" style="padding: 2em 0;">
      <table>
        <tr>
          <td>
            <div class="text" style="padding: 0 2em; text-align: left;">
            
            <h3 class="heading">What to do now</h3>

            {% autoescape off %}
              {% block reset_link %}

                  <p style="color:#000">
                      For secured reset, please click on the following link
                  </p>

                  <p>
                    <a style="border-style: inset; padding:5px" href={{protocol}}://{{dns_name}}{% url 'mmhauth:password_reset_confirm' uidb64=uid token=token %}>Click Here</a>
                  </p>

                  <p style="color:#000">
                      If clicking the link above doesn't work, 
                      please copy and paste the following URL in a new browser
                      window: 
                  </p>

                  <p style="color:#000; text-decoration: underline;">
                      {{ protocol }}://{{ dns_name }}{% url 'mmhauth:password_reset_confirm' uidb64=uid token=token %}
                  </p>

              {% endblock %}
            {% endautoescape %}

            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
