<p class="text-reset">
  <h4 class="fw-bolder">What we do with your contact information ?</h4>
</p>

<p class="text-reset">
  We use your contact information for several reasons such as
</p>

<ul class="text-reset">
	<li>To deliver the service you asked for</li>
	<li>To contact you further if we need any further calirification about your request</li>
</ul>

<p class="text-reset">
  Besides these, in order to learn more about our User Information Privacy Policy
  please <a>Click Here</a>
</p>
