<p class="text-reset">
    <h4 class="fw-bolder">How we process your request ?</h4>
</p>

<p class="text-reset">
  Here is a glipmse of our Adhoc Request processing system
</p>

<ul class="text-reset">
  <li>We carefully examine the request you have sent us to see if that makes
  sense to us</li>
  <li>If your request doesnot make sense to us, we then start to communicate with you via email </li>
  <li>If your request makes sense to us, then we sent your application to our
  Claims Analysis Department so that thet can start processing your request</li>
  <li>We then try to come up with a possible solution adhere to your request</li>
  <li>Once a solution is ready to deliver, we write you an email including the
  service details</li>
</ul>
